.google-icon {
  width: 50%;
  margin: 0;
  margin-bottom: 20px;
}

.google-suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 40px 8px 40px;
  border: none;
  border-radius: 20px;
  margin: 0;
}

input:focus {
  outline: none;
}

.search-input {
  display: flex;
  width: 90%;
  margin: 0px;
}

.search-input img {
  width: 25px;
  position: absolute;
  height: 25px;
  margin: 0;
  border: none;
  margin-left: 10px;
  align-self: center;
}

.ul-container {
  width: 90%;
  border: none;
  padding: 0px;
  margin: 0px;
}

.search-ul-container {
  width: 50%;
  padding-top: 20px;
  box-shadow: 0 0 5px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
