.list-items {
  display: flex;

  justify-content: space-between;
  margin: 0px;
  height: fit-content;
}

.arrow-img {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 0px;
}

.suggest-para {
  font-family: 'Roboto';
  font-size: 1vw;
  font-weight: bold;
  margin: 0px;
}
